.header {
    width: 100%;
    padding-top: 7px;
    background: #1659bf;
    background-image: radial-gradient(ellipse at center center, #1659bf 1%, #234b90 100%);
}

.conteiner-grid {
    display: flex;
    gap: 0px 20px;
}


@media (max-width: 768px) {
    .conteudo-grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .developed-activities {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (min-width:400px) and (max-width:900px) {
    .conteiner-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
    }

    .page-title {
        margin-left: 5%;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;
    }
}

.page-title {
    /* margin-left: -25%; */
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
}

.fab {
    font-size: 16px;
}

.bafl {
    font-size: 30px;
    font-weight: bold;

}

.fifth-command {
    font-size: 18px;
}

.dom {
    width: 100px;
    height: 120px;
    /* margin-top: -8%; */
    margin-left: 5%;
}

.services {
    background-color: #0f4098;
    border-bottom: 2px solid #0f4098;
    margin: 0;
    padding: 0;
    color: #fff;
}

.services a {
    color: #fff;
}


.menu-services {
    display: inline;
    text-align: right;
}

.list {
    list-style-type: none;
}

.subtitle {
    display: flex;
    margin-bottom: 50px;
    margin-left: 15%;
    color:#13076f;
    font-weight: bold;
    text-align: center;
}

/* menu lateral atividade */

#menu-lateral nav h2 {
    margin-top: 30px;
    margin-left: 15px;
    max-width: 215px;
    border-top: 3px solid #2c66ce;
    padding: 12px 12px 5px 10px;
    height: 50px;
    background: #eaebee;
    font-size: .85em;
    line-height: 1em;
    color: #2c66ce;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.list-menu-lateral {
    max-width: 400px;
    margin-left: 0px;
    box-sizing: border-box;
    float: left;
}

.list-menu-lateral a {
    color: #333;
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8e7e7;
}

.sub-menu {
    margin-left: 15px;
    text-decoration: underline;
}

/*historia da fab*/

.fab-history {
    text-align: justify;
    margin-left: 10%;
    margin-right: 5%;
}

.title-history {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    color: #13076f;
}

/*services a bafl*/
.services-bafl {
    text-align: justify;
    margin-left: 10%;
    margin-right: 5%;
}

.bafl-history {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    color: #13076f;
}

/*messages*/

.messages {
    display: flexbox;
    text-align: center;
    padding-top: 60px;;
    margin: 0 auto;
    max-width: 450px;
    color: rgb(80, 78, 78);
}

.coments {
    margin-bottom: 15px;
    padding: 20px;
    text-align: center;
}

.textarea-coments {
    margin-bottom: 20px;
}

.send {
    background-color: #0f4098;
    text-align: center;
    height: 44px;
    min-width: 45%;
    border-radius: 7px;
    border-color: #1659bf;
    color: #fff;
    border-style: none;
}

/* Atividades desenvolvidas*/

.description-activities {
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
    color: #13076f;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 200px 200px;
    row-gap: 200px;
    justify-content: space-evenly;
    align-content: center;
    padding-bottom: 100px;
}

@media (max-width:768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        width: 100%;
        flex-direction: column;

    }
}

.board-games {
    width: 250px;
    height: 250px;
    text-align: center;
}

.artesanato {
    width: 250px;
    height: 250px;
    text-align: center;
}

.painting {
    width: 250px;
    height: 250px;
    text-align: center;
}

.dance-class {
    width: 250px;
    height: 250px;
    text-align: center;
}

.conteudo-grid {
    display: flex;
    gap: 0px 20px;
    margin-bottom: 50px;
    justify-content: space-around;
}

.class-activities {
    text-align: justify;
    margin-left: 10%;
    margin-right: 5%;
}


.volunteering {
    display: flexbox;
    text-align: center;
    margin: 0 auto;
    max-width: 450px;
    color: rgb(80, 78, 78);
}

h5 {
    text-align: center;
    margin-bottom: 30px;
}

.label-form {
    display: block;
    text-align: left;
    margin-top: 10px;
}

.input-form {
    min-width: 100%;
    padding: 0.3em;
    border-radius: 7px;
    border-style: groove;
    border-width: 0.1em;
    margin-top: 10px;
}

input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
    margin-left: 15px;
}

.label-checkbox {
    display: inline-block;
    width: 145px;
    text-align: left;
    margin-left: 15px;
}

input[type="submit"] {
    background-color: #0f4098;
    height: 44px;
    min-width: 80%;
    padding: 0.5em;
    border-radius: 7px;
    border-color: #1659bf;
    color: #fff;
    border-style: none;
}

/* rodapé */

footer {
    /*verificar se precisa disso ou se dá pra colocar na classe footer-content*/

    position: absolute;
    text-align: center;
    width: 100%;
}

.footer-content {
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #1659bf;
    background-image: radial-gradient(ellipse at center center, #1659bf 1%, #234b90 100%);
    text-align: center;
}

.name-footer-content {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    text-align: center;
}

.adress {
    font-size: 16px;
    text-align: center;
}

.brevet {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
